.send_but {
	height: 25px !important;
	font-size: 14px !important;
}

.code_container > input {
	padding-top: 1px;
	width: 150px;
}
.code_container > img {
	height: 40px;
	margin-left: 10px;
	border: 1px solid #d9d9d9;
	border-radius: 4px;
	cursor: pointer;
}